body {
    background-image: url(https://img.ecartelera.com/noticias/fotos/62100/62146/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
  }
  .card{
    display: flex;
    justify-content: space-around;
  }
  #boton_next{
  margin-top: 300px;
  width: 120px;
  height: 50px;
  }
  
  .link_titulo{
    text-align: center;
    color: white;
    font-size: 15px;
    top: 2000px;
  }
  
  .titulo_presentacion{
    color: white;
    font-family: 'Lobster';    
  }
  .links_azules{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  
  .titulo_presentacion{
    text-align: center;
  }
